<header>
    <a href="{{ path('homepage') }}">
        <img src="{{ asset('assets/img/emmaus.png') }}" class="pagelogo" alt="emmaus" />
    </a>

    {% block title %}<h1> Emmaus </h1>{% endblock %}
    

    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">Accueil</a></li> 
            <li><a href="{{ path('presentation') }}">Présentation</a></li>
            <li><a href="{{ path('actualites') }}">Actualités</a></li>
            <li><a href="{{ path('ventes') }}">Ventes</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>