<header>
    <a href="{{ path('homepage') }}">
        <img src="{{ asset('assets/img/emmaus.png') }}" class="pagelogo" alt="emmaus" />
    </a>

    {% block title %}<h1> Emmaus </h1>{% endblock %}
    

    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">Accueil</a></li> 
            <li><a href="{{ path('presentation') }}">Présentation</a></li>
            {% for category in CategoriesService.getCategoriesList() %}
			<li><a class="nav-link" href="{{ path('blog', { 'id': category.id }) }}">{{ category.name }}</a></li>
		    {% endfor %}
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>